input[type="text"] {
  width: 200px; /* Sets the width */
  padding: 10px; /* Adds internal spacing */
  border: 1px solid #ccc; /* Defines a border */
  border-radius: 5px; /* Rounds the corners */
  font-size: 16px; /* Sets the font size */
  color: #333; /* Sets the text color */
}

select{
  width: 200px; /* Sets the width */
  padding: 10px; /* Adds internal spacing */
  border: 1px solid #ccc; /* Defines a border */
  border-radius: 5px; /* Rounds the corners */
  font-size: 16px; /* Sets the font size */
  color: #333; /* Sets the text color */
}
button{
    width: 100px;
    height: 35px;
    background-color: steelblue;
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
.body{
    width: 100%; 
    text-align: center;  
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid steelblue;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: steelblue;
  color: white;
  width: 30%;
}

.title{
    width: 100%; 
    text-align: center;
}